# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
dist/
build/

# Environment files
.env
.env.*
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
properties.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Testing
coverage/
cypress/videos/
cypress/screenshots/

# Misc
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Docker
.dockerignore